<h1>Welcome to the Cookbook!</h1>
<h3>What do you want to do next?</h3>
<p><a href="/List"> 1 - List all recipes</a></p>
<p><a href="/Create">2 - Create a new recipe</a></p>
<p><a href="/Destroy">3 - Destroy a recipe</a></p>
<p><a href="/Search">4 - Search a recipe on Marmiton</a></p>
<p><a href="/Mark">5 - Mark a recipe as tested</a></p>
<p><a href="/Exit">6 - Stop and exit the program</a></p>
